<nav>
    <ul id="menu">
        <li><a href="##">Inicio</a>
            <ul>
                <li><a href="/auth/usuario">Usuarios</a></li>
            </ul>
        </li>
        <li><a href="">Registro</a>
            <ul>
                <li><a href="">Registro</a></li>
                <li><a href="">carga de a.</a></li>
            </ul>
        </li>
        <li><a href="">Seguimiento</a>
            <ul>
                <li><a href="">Revisión</a></li>
            </ul>
        </li>
        <li><a href="">Evaluacion</a>
            <ul>
                <li><a href="">Reclamos</a></li>
            </ul>
        </li>
        <li><a href="">Mantenimiento</a>
            <ul>
                <li><a href="">Cuestionario</a></li>
                <li><a href="">Requisitos</a></li>
                <li><a href="">Preguntas</a></li>
                <li><a href="">Usuario</a></li>
                <li><a href="">Compradores</a></li>
                <li><a href="/auth/estado">Estado Proveedor</a></li>
                <li><a href="">Estado Evalucion</a></li>
                <li><a href="/auth/categoria">Categoria</a></li>
                <li><a href="/auth/grupo">grupo</a></li>
                <li><a href="/auth/area">Area</a></li>
                <li><a href="/auth/perfil">Perfil</a></li>
            </ul>
        </li>

    </ul>
</nav>