<app-menu></app-menu>
<div class="layout-content">
    <div class="p-col-12">
        <div class="form-group row p-grid">
            <h1 for="Nombre " class="titulo p-col-10 p-sm-10 col-form-label">
                Catálogo de mensajes
            </h1>
            <div class="p-col-2 p-text-right">
                <img src="./assets/img/logo.png" alt="Logo MINAGRI" class="img-logo" width="100%">
            </div>
        </div>
    </div>
</div>
<p-divider> </p-divider>
<p-tabView header="Datos generales">
    <div class="p-grip">
        <div class="p-col-12">
            <p-card>
                <ng-template pTemplate="header">
                    <b>Acepta los términos y condiciones:</b>
                </ng-template>
                <div class="p-col-12">
                    <div class="summernote" [ngxSummernote]="config" [(ngModel)]="nombre"></div>
                    <div class="form-group row p-grid">
                        <div class="p-col-8 p-sm-8">
                            <!-- <textarea id="float-input" type="text" [(ngModel)]="nombre" pInputText name="nombre">
                            </textarea> -->

                        </div>
                    </div>
                    <button pButton type="button" label="Grabar" class="p-button-success colorbuttonGuardar"
                        icon="pi pi-save" (click)="Registrar()"></button>
                </div>
            </p-card>
        </div>
        <div class="p-col-6">
            <p-card>
                <ng-template pTemplate="header">
                    <b>Política de contraseña:</b>
                </ng-template>
                Una mayúsculas(M) <br /> Una minúscula(M) <br /> Un número(1) <br />Carácter especial(1)

            </p-card>

        </div>
    </div>
    <br />
    <div class="p-grid" name="busquedaavanzada">
        <div class="p-col-12">

            <p-card>
                <ng-template pTemplate="header">
                    <b>Tenor de correo 1:</b>
                </ng-template>

                <div class="p-col-2 p-sm-2">
                    <input type="text" pInputText [(ngModel)]="dias" (ngModelChange)="concatDias($event)" id="sNombre"
                        name="sNombre" class="form-control" placeholder="dias" style="width: 100%;" />
                </div>

                <div class="summernote" [ngxSummernote]="config" [(ngModel)]="mensaje"></div>
                <button pButton type="button" label="Grabar" class="p-button-success colorbuttonGuardar"
                    (click)="Registrartenor1()" icon="pi pi-save">
                </button>
            </p-card>
        </div>
    </div>
    <br />
    <div class="p-grid" name="busquedaavanzada">
        <div class="p-col-12">
            <p-card>
                <ng-template pTemplate="header">
                    <b>Tenor de correo 2:</b>
                </ng-template>
                <!-- <div class="p-col-8 p-sm-8">
                    <input type="text" pInputText [(ngModel)]="dias" (ngModelChange)="concatDias($event)" id="sNombre"
                        name="sNombre" class="form-control" placeholder="dias" style="width: 100%;" />
                </div> -->
                <div class="summernote" [ngxSummernote]="config" [(ngModel)]="tenor2"></div>
                <button pButton type="button" label="Grabar" class="p-button-success colorbuttonGuardar"
                    (click)="Registrartenor2()" icon="pi pi-save">
                </button>
            </p-card>
        </div>
    </div>
    <div class="p-grid" name="busquedaavanzada">
        <div class="p-col-12">
            <p-card>
                <ng-template pTemplate="header">
                    <b>Tenor de correo 3:</b>
                </ng-template>
                <!-- <div class="p-col-8 p-sm-8">
                    <input type="text" pInputText [(ngModel)]="dias" (ngModelChange)="concatDias($event)" id="sNombre"
                        name="sNombre" class="form-control" placeholder="dias" style="width: 100%;" />
                </div> -->
                <div class="summernote" [ngxSummernote]="config" [(ngModel)]="tenor3"></div>
                <button pButton type="button" label="Grabar" class="p-button-success colorbuttonGuardar"
                    (click)="Registrartenor3()" icon="pi pi-save">
                </button>
            </p-card>
        </div>
    </div>

</p-tabView>

<p-toast></p-toast>