<!-- <app-menu-top></app-menu-top> -->
<app-menu></app-menu>
<div class="layout-content">
    <h1 style="text-align: center;padding-top: 16px;">Creacion de Usuario</h1>
    <p-divider> </p-divider>
    <p-tabView>
        <div class="p-col-12">
            <div class="p-grid" name="busquedaavanzada">
                <div class="p-col-6">
                    <h4>Datos Generales</h4>
                    <div class="form-group row p-grid">

                        <label for="sEmpresaPro " class="centrov p-col-3 p-sm-3 col-form-label">
                                    Nombre :
                                </label>
                        <div class="p-col-8 p-sm-8">
                            <input type="text" pInputText id="sNombre" [(ngModel)]="nombre" name="sNombre" class="form-control" placeholder="" style="width: 100%;" />
                        </div>
                    </div>
                    <div class="form-group row p-grid">

                        <label for="sEmpresaPro " class="centrov p-col-3 p-sm-3 col-form-label">
                                    usuario :
                                </label>
                        <div class="p-col-8 p-sm-8">
                            <input type="text" pInputText id="sNombre" [(ngModel)]="usuario" name="sNombre" class="form-control" placeholder="" style="width: 100%;" />
                        </div>
                    </div>
                    <div class="form-group row p-grid">
                        <div class="p-col-8 p-sm-8">
                            <label for="sEmpresaPro " class="centrov p-col-3 p-sm-3 col-form-label">
                                    Contraseña :
                                </label>

                            <input type="password" pInputText id="sNombre" [(ngModel)]="passward" name="sNombre" class="form-control" placeholder="" style="width: 100%;" />
                        </div>
                    </div>
                    <div class="form-group row p-grid">
                        <div class="p-col-8 p-sm-8">
                            <label for="sEmpresaPro " class="centrov p-col-3 p-sm-3 col-form-label">
                                    Correo :
                                </label>

                            <input type="text" pInputText id="sNombre" [(ngModel)]="correo" name="sNombre" class="form-control" placeholder="" style="width: 100%;" />
                        </div>
                    </div>
                    <div class="centrov">
                        <div class="p-col-12">
                            <div class="form-group row p-grid">
                                <label for="sedeselecbuscar" class="centrov p-col-3 p-sm-3 col-form-label">
                                    Perfil :
                                </label>
                                <div class="p-col-8 p-sm-8">
                                    <p-dropdown [options]="ListPerfil" [(ngModel)]="nomPerfil" name="sForma" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Seleccionar perfil">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </p-tabView>


    <div class="centrov p-grid">

        <div class="p-col-1">
            <button pButton type="button" label="Volver" class="p-button-danger colorbutton"></button>
            <button pButton type="button" label="Grabar" (click)="Registrar()" class="p-button-success colorbuttonGuardar" icon="pi pi-save"></button>
        </div>
    </div>

</div>
<p-toast></p-toast>