<div class="layout-content">
  <h1 style="text-align: center;padding-top: 16px;">Cambiar Contraseña</h1>
  <p-tabView>
    <div class="p-col-12">
      <div class="p-grid" name="busquedaavanzada" [formGroup]="frmSignup">
        <div class="p-col-12">
          <div class="form-group row p-grid">
            <div class="p-col-1 p-sm-1">
              <label for="Contraseña" class="col-form-label">
                Nuevo Contraseña:
              </label>
            </div>

            <div class="p-col-10 p-sm-10">
              <div class="p-inputgroup">
                <input type="password" pInputText id="sNombre" formControlName="password" name="sNombre"
                  class="form-control" placeholder="" style="width: 100%;"
                  [type]="fieldTextType ? 'text' : 'password'" />
                <!-- <button type="button" pButton pRipple icon="pi pi-eye" class="" (click)="toggleFieldTextType();"></button> -->
                <div class="p-inputgroup" (click)="toggleFieldTextType()">

                  <span class="p-inputgroup-addon"><i class="pi" [ngClass]="{
                                      'pi-eye-slash': !fieldTextType,
                                      'pi-eye': fieldTextType
                                    }">
                    </i></span>

                </div>
              </div>
              <label p-message
                [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">
                  {{ frmSignup.controls['password'].hasError('required') ||
                  frmSignup.controls['password'].hasError('minlength') ? 'cancel' : 'check_circle' }}
                </i>
                ¡Debe tener al menos 8 caracteres!
              </label>
              <br>
              <label class="col"
                [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">
                  {{ frmSignup.controls['password'].hasError('required') ||
                  frmSignup.controls['password'].hasError('hasNumber') ? 'cancel' :
                  'check_circle' }}
                </i>
                ¡Debe contener al menos 1 número!
              </label>
              <br>
              <label class="col"
                [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">
                  {{ frmSignup.controls['password'].hasError('required') ||
                  frmSignup.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                  'check_circle' }}
                </i>
                ¡Debe contener al menos 1 en mayúsculas!
              </label>
              <br>
              <label class="col"
                [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">
                  {{ frmSignup.controls['password'].hasError('required') ||
                  frmSignup.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                  'check_circle' }}
                </i>
                ¡Debe contener al menos 1 letra en minúscula!
              </label>
              <br>
              <label class="col"
                [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                <i class="material-icons">
                  {{ frmSignup.controls['password'].hasError('required') ||
                  frmSignup.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
                  'check_circle' }}
                </i>
                ¡Debe contener al menos 1 Carácter especial!
              </label>


            </div>
          </div>
          <div class="form-group row p-grid">

            <label for="sEmpresaPro " class="centrov p-col-1 p-sm-1 col-form-label">
              Confirmar Contraseña:
            </label>
            <div class="p-col-10 p-sm-10">
              <div class="p-inputgroup">
                <input type="password" pInputText id="sNombre" formControlName="confirmPassword" name="sNombre"
                  class="form-control" placeholder="" style="width: 100%;"
                  [type]="fieldTextType2 ? 'text' : 'password'" />
                <!-- <button type="button" pButton pRipple icon="pi pi-eye" class="" (click)="toggleFieldTextType2();"></button> -->
                <div class="p-inputgroup" (click)="toggleFieldTextType2()">

                  <span class="p-inputgroup-addon"><i class="pi" [ngClass]="{
                                'pi-eye-slash': !fieldTextType2,
                                'pi-eye': fieldTextType2
                                }">
                    </i></span>

                </div>
              </div>
              <p-message severity="error" text="requerido"
                *ngIf="frmSignup.controls.confirmPassword.touched && frmSignup.controls['confirmPassword']?.hasError('required')">
              </p-message>
            </div>
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-grid">
            <div class="p-col-3">
              <button pButton type="button" label="Grabar" (click)="Procesar()"
                class="p-button-success colorbuttonGuardar" icon="pi pi-save" [disabled]="!frmSignup.valid"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-tabView>
</div>
<p-toast></p-toast>