.img-logo{
  max-width: 150px;
  
}
.layout-content {
    margin-left: 30px;
    padding-left: 40px;
    margin-top: 10px;
    margin-right: 90px;
}
.titulo{
    text-align: center;
    padding-top: 16px;
    display:inline;
}