/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.colorbuttonGuardar {
    background-color: #ca4300 !important;
    margin: 5px !important;
}

.colorbutton {
    background-color: #f6f9fc !important;
    color: black !important; 
    margin: 5px !important;
 
}